* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    --logo-font-family: 'Pacifico', cursive;
    --logo-description-font: 'Caveat', cursive;
    --ubuntu-font-family: 'Ubuntu', sans-serif;
    --posts-background-color: ;
}

html {
    scroll-behavior: smooth;
    font-size: 20px;
}

body {
    overflow-x: hidden;
}

body.app-body {
    width: 100vw;
    height: 100vh;
    background-image: url(./slike/background1.jpg);
    background-size: cover;
    transition: background-image .5s ease-in-out;
}

body.app-body::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: -1;
}

.logo > h1 {
    font: 400 4rem var(--logo-font-family);
    color: #edf2fb;
    transform: translateY(-85px);
    opacity: 0;
    transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

header.logo > h2 > span#left-description {
    display: inline-block;
    transition: all .5s linear;
    transform: translateX(-100vw);
    font: 400 3rem var(--logo-description-font) !important;
    color: #edf2fb;
}

header.logo > h2 > span#right-description {
    display: inline-block;
    transition: all .5s linear;
    transform: translateX(100vw);
    font: 400 3rem var(--logo-description-font) !important;
    color: #edf2fb;
}

.login-wrapper {
    margin-top: 2rem;
    padding: 4rem;
    width: 50%;
    background-color: rgba(248, 249, 250, .8);
    border: 1px solid grey;
    border-radius: 1rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

#registerBtn {
    display: block;
}

.register-modal {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, .8);
}

.register-wrapper {
    position: relative;
    width: 60%;
    height: 90%;
    background-color: #f8f9fa;
    z-index: 2;
    border: none;
    border-radius: 2rem;
}

#registerForm > div {
    width: 100%;
}

#registerForm button {
    background-color: green;
    width: 50%;
}

.btn-close {
    position: absolute;
    top: 5%;
    right: 5%;
    transform: translate(-5%, -5%);
}

div.closed {
    display: none !important;
}

ul > *{
    font-size: .7rem;
    color: #e63946;
}

div[role = 'alert'] {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -20vh);
    transition: all .5s ease-in-out;
    z-index: 2;
}

.feed-body {
    background-color: rgb(254, 252, 251);
}

.feed-body .col-md-3 {
    padding: 1rem;
}

.user-data {
    padding: 3rem;
    border: none;
    border-radius: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#profile-picture {
    width: 100%;
    border-radius: 50%;
}

#feed-logo {
    font: 400 2rem var(--logo-font-family);
}

.feed-content {
    padding: 3rem;
}

.post-form {
    padding: 1rem;
}

#editForm > div {
    width: 100%;
}

.post-form {
    border-radius: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.single-post {
    padding: .2rem;
    border-radius: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: translateX(100vw);
    transition: transform .5s linear;
}

.user-info {
    padding: .5rem;
    border-bottom: 1px solid #2f3e46;
}

.user-info img {
    width: 5%;
    border-radius: 50%;
}

.user-info h3 {
    font-size: 1rem;
}

.post-content {
    padding: 2rem;
}

.post-actions {
    padding: 1rem;
}

.post-comments {
    padding: 1rem;
}

.comment-author {
    border-bottom: 1px solid #2f3e46;
}

.comment-author img {
    width: 4%;
    border-radius: 50%;
}

.comment-author h4 {
    font-size: 1rem;
}

.comment-content {
    padding: .5rem;
}

.single-comment {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.delete-user {
    width: 100%;
}

#deleteUser {
    width: 100%;
}